<div class="container">
  <div class="content">
    <div class="title-box">
      <div class="left ">
        <div class="title">
          空氣品質指標
        </div>
        <select class="selectLocation">
          <option value="" class=""> 請選擇地區</option>
          <option *ngFor="let city of cities" [value]="city">{{city}}</option>
        </select>
      </div>
      <div class="right">
        <table class="aqiTable aqiTable--width">
          <thead>
            <tr class="">
              <th class="">0~50</th>
              <th class="">51~100</th>
              <th class="">101~150</th>
              <th class="">151~200</th>
              <th class="">201~300</th>
              <th class="">301~500</th>
            </tr>
          </thead>
          <tbody>
            <tr class="">
              <td class="" bgcolor="#94F184">良好</td>
              <td class="" bgcolor="#FFE694">普通</td>
              <td class="" bgcolor="#FFAE69">對敏感族群不健康</td>
              <td class="" bgcolor="#FF5757">對所有族群不健康</td>
              <td class="" bgcolor="#9777FF">非常不健康</td>
              <td class="" bgcolor="#AE1774">危害</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="sourse">
      資料來源：行政院環境保護署
    </div>
    <div class="copyright">
      Copyright © 2021 ysshaannnn. All rights reserved.
    </div>
  </div>
</div>
