<div class="container">
  <div class="content">
    <div class="title-box">
      <div class="left">
        <div class="title">
          空氣品質指標
        </div>
        <select>
          <option>請選擇你最愛的寵物</option>
          <option>Dog</option>
          <option>Cat</option>
          <option>Hamster</option>
          <option>Parrot</option>
          <option>Spider</option>
          <option>Goldfish</option>
        </select>
      </div>
      <div class="right">
        <table class="table--border table--fix">
          <thead>
            <tr class="table-height">
              <th class="table--border">0~50</th>
              <th class="table--border">51~100</th>
              <th class="table--border">101~150</th>
              <th class="table--border">151~200</th>
              <th class="table--border">201~300</th>
              <th class="table--border">301~500</th>
            </tr>
          </thead>
          <tbody>
            <tr class="table-height">
              <td class="table--border" bgcolor="#94F184">良好</td>
              <td class="table--border" bgcolor="#FFE694">普通</td>
              <td class="table--border" bgcolor="#FFAE69">對敏感族群不健康</td>
              <td class="table--border" bgcolor="#FF5757">對所有族群不健康</td>
              <td class="table--border" bgcolor="#9777FF">非常不健康</td>
              <td class="table--border" bgcolor="#AE1774">危害</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
  <div class="footer">
    <div class="sourse">
      資料來源：行政院環境保護署
    </div>
    <div class="copyright">
      Copyright © 2021 ysshaannnn. All rights reserved.
    </div>
  </div>
</div>
